
@{
    ViewBag.Title = "Bill Transaction";
    var loggedInUser = (InTimeCourier.Models.AdminUser)Session["LoggedInUser"];
}

<h4>Bill Details</h4>
<hr />
<style>
   /* .ajaxLoader {
        outline-style: none;
        outline-color: invert;
        outline-width: 0px;
        width: 104px;
        height: 104px;
        position: absolute;
        z-index: 10000;
        background-image: url("../../Content/ajax-loader.gif");
    }*/
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        padding: 1%;
    }
</style>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@Convert.ToString(TempData["Message"])</div>
}
@if (TempData["PaymentMessage"] != null)
{
    <div class="alert alert-success">@Convert.ToString(TempData["PaymentMessage"])</div>
}
<div class="col-lg-12">
    @{Html.RenderAction("SearchBillTransaction", "BillTransaction");}
</div>
<div class="clearfix"></div>
<br />
<br />
<div class="col-lg-12">
    @{Html.RenderAction("BillTransactionList", "BillTransaction");}
</div>
<div id="SearchCourierlist" style="display:none">

</div>

<div class="modal fade" id="modalBillDetailsForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title"><label id="lblHeader"> Bill Details</label></h4>
            </div>
            <div class="panel-body" id="divBillDetails">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <select id="ddlPartyNameTransaction" class="form-control"></select>
                    </div>
                    <div class="col-lg-6">
                        <select id="ddlFinancialYearTransaction" class="form-control"></select>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txtTransactionDate" placeholder="Transaction Date" />
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txtCreditAmount" placeholder="Credit Amount" />
                    </div>
                    <div class="col-lg-6">
                        <textarea id="txtNarration" class="form-control" placeholder="Transaction Narration"></textarea>
                    </div>
                    <div class="col-lg-6">
                        <input type="button" onclick="saveTransaction()" class="btn btn-success" value="Save Transaction">
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-deep-orange" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script>
        // Call on page load
        $(document).ready(function () {
            $('#txtTransactionDate').datepicker({
                        changeMonth: true,
                        changeYear: true
                    });
            $.ajax({
                url: "/BillTransaction/GetAllPartyAndFinancialYear",

                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#ddlPartyName').find('option').remove();
                    $('#ddlFinancialYear').find('option').remove();
                    $('#ddlPartyName').append($('<option></option>').val('').html('--Select Party--'));
                    $('#ddlFinancialYear').append($('<option></option>').val('').html('--Select Financial Year--'));

                    $(data?.parties).each(function (index, item) { // GETTING ERROR HERE
                        $('#ddlPartyName').append($('<option></option>').val(item.PartyId).html(item.PartyName));
                    });
                    $(data?.financialYears).each(function (index, item) { // GETTING ERROR HERE
                        $('#ddlFinancialYear').append($('<option></option>').val(item.FYearId).html(item.FYear));
                    });

                    // Popup Dropdowns
                    $('#ddlPartyNameTransaction').find('option').remove();
                    $('#ddlFinancialYearTransaction').find('option').remove();
                    $('#ddlPartyNameTransaction').append($('<option></option>').val('').html('--Select Party--'));
                    $('#ddlFinancialYearTransaction').append($('<option></option>').val('').html('--Select Financial Year--'));
                    $(data?.parties).each(function (index, item) { // GETTING ERROR HERE
                        $('#ddlPartyNameTransaction').append($('<option></option>').val(item.PartyId).html(item.PartyName));
                    });
                    $(data?.financialYears).each(function (index, item) { // GETTING ERROR HERE
                        $('#ddlFinancialYearTransaction').append($('<option></option>').val(item.FYearId).html(item.FYear));
                    });
                },
                error: function ajaxError(response) {
                    console.log(response.status + ' ' + response.statusText);
                }
            });
        })

        function SearchBillTransaction() {
            var partyId = $('#ddlPartyName').val();
            var fYearVal = $('#ddlFinancialYear').val();
            var fYear = $("#ddlFinancialYear option:selected").text(); //$('#ddlFinancialYear').text();
            if (partyId && fYearVal) {
                $.ajax({
                    url: "/BillTransaction/GetSearchBillTransactionResult",
                    data: { partyId: partyId, fYear: fYear },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {

                        $("#divBillTransactionList").html(data);
                    }
                });
            } else {
                alert('Please select party name and financial year.');
                return;
            }
        }

        function ResultExportToExcel() {
            var partyId = $('#ddlPartyName').val();
            var fYearVal = $('#ddlFinancialYear').val();
            var fYear = $("#ddlFinancialYear option:selected").text(); //$('#ddlFinancialYear').text();
            if (partyId && fYearVal) {
                $.ajax({
                    url: "/BillTransaction/ResultExportToExcel",
                    data: { partyId: partyId, fYear: fYear },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {

                        //$("#divBillTransactionList").html(data);
                    }
                });
            } else {
                alert('Please select party name and financial year.');
                return;
            }
        }

        function saveTransaction() {
            var partyId = $('#ddlPartyNameTransaction').val();
            var fYearVal = $('#ddlFinancialYear').val();
            var fYear = $("#ddlFinancialYear option:selected").text(); //$('#ddlFinancialYear').text();
            var transactionDate = $('#txtTransactionDate').val();
            var creditAmount = $('#txtCreditAmount').val();
            var narration = $('#txtNarration').val();
            $.ajax({
                url: '/BillTransaction/SaveTransaction',
                data: { partyId: partyId, financialYear: fYear, transactionDate: transactionDate, creditAmount: creditAmount, narration: narration },
                type: 'GET',
                success: function (data) {
                    alert(data?.message);
                },
                error: function (err) {
                    alert(err);
                }
            })
        }

        function switchcase(recordscount) {
            var hgt = '';
            if (recordscount == 1) {
                hgt = 530;
            }
            else if (recordscount == 2) {
                hgt = 510;
            }
            else {
                hgt = 550 - (((recordscount - 1) * 2) * 10);
            }
            return hgt;
        }

        function ExportToExcel() {
            var htmltable = document.getElementById('billTransactionTbl');
            var html = htmltable.outerHTML;
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent(html));
        }
    </script>
}