@{
    Layout = null;
}

<div class="col-lg-3">
    <select id="ddlPartyName" class="form-control"></select>
</div>
<div class="col-lg-3">
    <select id="ddlFinancialYear" class="form-control" ></select>
</div>

<div class="col-lg-3">
    <input type="button" onclick="SearchBillTransaction();" value="Search" class="btn btn-primary" />
    <input type="button" onclick="AddCreditAmount();" data-toggle="modal" data-target="#modalBillDetailsForm" value="Add Bill" class="btn btn-primary" />
</div>
